.sunflower {
  margin-top: 10%; /* Move upwards to center vertically */
  margin-left: 5%; /* Move rightwards to center horizontally */
  padding-left: 1%; /* Move rightwards to center horizontally */
  transform: translate(-50%, -50%); /* Counteract absolute positioning for centering */  
  width: 300px;
  height: 300px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: sunflowerAnimation 3s infinite ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: radial-gradient(yellow 50%, brown 100%); /* Adjust colors as desired */
  border-radius: 50%;
}

.sunflower .leaf {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 20px;
  background-color: green;
  /* Adjust color as desired */
  border-radius: 50%;
}

.sunflower .leaf:nth-child(2) {
  /* ... adjust position and size */
  transform: rotate(-30deg);
}

.sunflower .petal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 50% 50% 0 0;
  background-color: yellow;
  background: linear-gradient(to bottom, yellow 50%, orange 100%);
  transform: rotate(45deg) translate(-25%, -40%);
}

.sunflower .petal:nth-child(2) {
  transform: rotate(-45deg) translate(-25%, -20%);
}


/* 
.sunflower::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: brown;
  border-radius: 50%;
  background: radial-gradient(brown 50%, black 100%);
} */


/* 
.sunflower::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 50px;
  background-color: green;
} */

.sunflower::after::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

@keyframes sunflowerAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}